<!DOCTYPE html>
<html lang="en">

<head>
	<title>Home Page</title>

	<link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
	<link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
	<link rel="stylesheet" href="/styles/layout.css" type="text/css" />
	<link rel="stylesheet" href="/styles/main.css" type="text/css" />

	<script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
	<script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
	<header>
		<img src="https://cdn.pixabay.com/photo/2014/03/25/16/58/check-mark-297739_960_720.png">
		<div>
			<h1>Kaylin</h1>
			<button>
				<img src="logout-icon.png">
				<!-- <img
					src="https://www.flaticon.com/svg/vstatic/svg/3580/3580175.svg?token=exp=1615107603~hmac=15df0c3f8788e9482d22ba33041013ff"> -->
			</button>
		</div>
	</header>

	<main>
		<div class="button-group">
			<button>All</button>
			<button>
				<img
					src="https://www.flaticon.com/svg/vstatic/svg/92/92353.svg?token=exp=1615107206~hmac=7c4e10a8d939b4fe1380eecd99e26d04">
			</button>
			<button>
				<img
					src="https://www.flaticon.com/svg/vstatic/svg/1695/1695521.svg?token=exp=1615106854~hmac=4b75734c3071e80d234b6ffbe18965f4">
			</button>
			<button>
				<img
					src="https://www.flaticon.com/svg/vstatic/svg/32/32354.svg?token=exp=1615107000~hmac=873e5b5f42537e30676f4e28be67da9a">
			</button>
			<button>
				<img
					src="https://www.flaticon.com/svg/vstatic/svg/2121/2121902.svg?token=exp=1615107108~hmac=50e5d8b5d5c2d640bedd41dfcb3024b4">
			</button>
			<button>Other</button>
			<button>
				<img
					src="https://www.flaticon.com/svg/vstatic/svg/74/74013.svg?token=exp=1615107305~hmac=86ddba5949412718d2b4036bf3a0efb0">
			</button>
		</div>
		<form id="task-form" method="POST" action="/tasks/">
			<div>
				<button type="submit">Add a new task</button>
			</div>
		</form>
		<section id="tasks-container">
			<div class="category">
				<h2>To watch:</h2>
				<div>
					<p>Task 1</p>
					<div>
						<!-- <img
							src="https://www.flaticon.com/svg/vstatic/svg/545/545666.svg?token=exp=1615108961~hmac=0c825fe1ea5ff86507e8fcaad5cde229"> -->
						<button>
							<img
								src="https://www.flaticon.com/svg/vstatic/svg/74/74013.svg?token=exp=1615108830~hmac=050f419c544c25f60f87c0330c6cb813">
						</button>
						<button>
							<img
								src="https://www.flaticon.com/svg/vstatic/svg/1345/1345874.svg?token=exp=1615108464~hmac=34690e24ed521b44fe8de34e1eb07a92">
						</button>
						<button>
							<img
								src="https://www.flaticon.com/svg/vstatic/svg/483/483923.svg?token=exp=1615108711~hmac=9fc5a615a10bdf12733f0e58ab019e7a">
						</button>
					</div>
				</div>
				<div>
					<p>Task 2</p>
					<div>
						<!-- <img
							src="https://www.flaticon.com/svg/vstatic/svg/545/545666.svg?token=exp=1615108961~hmac=0c825fe1ea5ff86507e8fcaad5cde229"> -->
						<button>
							<img
								src="https://www.flaticon.com/svg/vstatic/svg/74/74013.svg?token=exp=1615108830~hmac=050f419c544c25f60f87c0330c6cb813">
						</button>
						<button>
							<img
								src="https://www.flaticon.com/svg/vstatic/svg/1345/1345874.svg?token=exp=1615108464~hmac=34690e24ed521b44fe8de34e1eb07a92">
						</button>
						<button>
							<img
								src="https://www.flaticon.com/svg/vstatic/svg/483/483923.svg?token=exp=1615108711~hmac=9fc5a615a10bdf12733f0e58ab019e7a">
						</button>
					</div>
				</div>
				<div>
					<p>Task 3</p>
					<div>
						<!-- <img
							src="https://www.flaticon.com/svg/vstatic/svg/545/545666.svg?token=exp=1615108961~hmac=0c825fe1ea5ff86507e8fcaad5cde229"> -->
						<button>
							<img
								src="https://www.flaticon.com/svg/vstatic/svg/74/74013.svg?token=exp=1615108830~hmac=050f419c544c25f60f87c0330c6cb813">
						</button>
						<button>
							<img
								src="https://www.flaticon.com/svg/vstatic/svg/1345/1345874.svg?token=exp=1615108464~hmac=34690e24ed521b44fe8de34e1eb07a92">
						</button>
						<button>
							<img
								src="https://www.flaticon.com/svg/vstatic/svg/483/483923.svg?token=exp=1615108711~hmac=9fc5a615a10bdf12733f0e58ab019e7a">
						</button>
					</div>
				</div>

			</div>
			<div class="category">
				<h2>To eat:</h2>
				<p>Task 1</p>
				<p>Task 2</p>
				<p>Task 3</p>
			</div>
			<div class="category">
				<h2>To read:</h2>
				<p>Task 1</p>
				<p>Task 2</p>
				<p>Task 3</p>
			</div>
			<div class="category">
				<h2>To buy:</h2>
				<p>Task 1</p>
				<p>Task 2</p>
				<p>Task 3</p>
			</div>
			<div class="category">
				<h2>Uncategorized:</h2>
				<p>Task 1</p>
				<p>Task 2</p>
				<p>Task 3</p>
			</div>
		</section>
	</main>
</body>

</html>