<!DOCTYPE html>
<html lang="en">

<head>
	<title>Home Page</title>

	<link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
	<link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
	<link rel="stylesheet" href="/styles/layout.css" type="text/css" />
	<link rel="stylesheet" href="/styles/main.css" type="text/css" />

	<script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
	<script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
	<header>
		<!-- add logo image here -->
		<!-- <h1>(Logo)</h1> -->
		<img src="https://cdn.pixabay.com/photo/2014/03/25/16/58/check-mark-297739_960_720.png">
		<div>
			<h1>Kaylin</h1>
			<img src="https://cdn.pixabay.com/photo/2014/03/25/16/59/external-link-297789_960_720.png">
		</div>
	</header>

	<main>
		<div class="button-group">
			<button>All</button>
			<button>
				<img src="https://cdn.pixabay.com/photo/2017/01/25/17/35/camera-2008489_960_720.png">
			</button>
			<button>
				<img src="https://cdn.pixabay.com/photo/2016/09/13/18/38/silverware-1667988_960_720.png">
			</button>
			<button>
				<img src="https://cdn.pixabay.com/photo/2017/01/31/00/09/books-2022463__340.png">
			</button>
			<button>
				<img src="https://cdn.pixabay.com/photo/2014/05/21/13/25/shopping-cart-349544_960_720.png">
			</button>
			<button>Other</button>
			<button>
				<img
					src="https://media.istockphoto.com/vectors/tick-icon-vector-symbol-flat-cartoon-green-checkmark-isolated-on-vector-id944026802?b=1&k=6&m=944026802&s=170667a&w=0&h=oAExZhnQ9ATvRXM0OLCrslX3-fgSDhH8dnno5SMrc1s=">
			</button>
		</div>
		<br>
		<form id="task-form" method="POST" action="/tasks/">
			<div>
				<button type="submit">Add a new task</button>
			</div>
		</form>
		<br>
		<section id="tasks-container">
			<div>
				<h2>To watch:</h2>
				<p>Task 1</p>
				<p>Task 2</p>
				<p>Task 3</p>
			</div>
			<div>
				<h2>To eat:</h2>
				<p>Task 1</p>
				<p>Task 2</p>
				<p>Task 3</p>
			</div>
			<div>
				<h2>To read:</h2>
				<p>Task 1</p>
				<p>Task 2</p>
				<p>Task 3</p>
			</div>
			<div>
				<h2>To buy:</h2>
				<p>Task 1</p>
				<p>Task 2</p>
				<p>Task 3</p>
			</div>
			<div>
				<h2>Uncategorized:</h2>
				<p>Task 1</p>
				<p>Task 2</p>
				<p>Task 3</p>
			</div>
		</section>
	</main>
</body>

</html>