<!DOCTYPE html>
<html lang="en">

<head>
	<title>Home Page</title>

	<link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
	<link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
	<link rel="stylesheet" href="/styles/layout.css" type="text/css" />
	<link rel="stylesheet" href="/styles/main.css" type="text/css" />

	<script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
	<script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
	<header>
		<img src="https://cdn.pixabay.com/photo/2014/03/25/16/58/check-mark-297739_960_720.png">
		<div>
			<h1>Kaylin</h1>
			<button>
				<img
					src="https://www.flaticon.com/svg/vstatic/svg/3580/3580175.svg?token=exp=1615107603~hmac=15df0c3f8788e9482d22ba33041013ff">
			</button>
		</div>
	</header>

	<main>
		<div class="button-group">
			<button>All</button>
			<button>
				<img
					src="https://www.flaticon.com/svg/vstatic/svg/92/92353.svg?token=exp=1615107206~hmac=7c4e10a8d939b4fe1380eecd99e26d04">
			</button>
			<button>
				<img
					src="https://www.flaticon.com/svg/vstatic/svg/1695/1695521.svg?token=exp=1615106854~hmac=4b75734c3071e80d234b6ffbe18965f4">
			</button>
			<button>
				<img
					src="https://www.flaticon.com/svg/vstatic/svg/32/32354.svg?token=exp=1615107000~hmac=873e5b5f42537e30676f4e28be67da9a">
			</button>
			<button>
				<img
					src="https://www.flaticon.com/svg/vstatic/svg/2121/2121902.svg?token=exp=1615107108~hmac=50e5d8b5d5c2d640bedd41dfcb3024b4">
			</button>
			<button>Other</button>
			<button>
				<img
					src="https://www.flaticon.com/svg/vstatic/svg/74/74013.svg?token=exp=1615107305~hmac=86ddba5949412718d2b4036bf3a0efb0">
			</button>
		</div>
		<br>
		<form id="task-form" method="POST" action="/tasks/">
			<div>
				<button type="submit">Add a new task</button>
			</div>
		</form>
		<br>
		<section id="tasks-container">
			<div>
				<h2>To watch:</h2>
				<p>Task 1</p>
				<p>Task 2</p>
				<p>Task 3</p>
			</div>
			<div>
				<h2>To eat:</h2>
				<p>Task 1</p>
				<p>Task 2</p>
				<p>Task 3</p>
			</div>
			<div>
				<h2>To read:</h2>
				<p>Task 1</p>
				<p>Task 2</p>
				<p>Task 3</p>
			</div>
			<div>
				<h2>To buy:</h2>
				<p>Task 1</p>
				<p>Task 2</p>
				<p>Task 3</p>
			</div>
			<div>
				<h2>Uncategorized:</h2>
				<p>Task 1</p>
				<p>Task 2</p>
				<p>Task 3</p>
			</div>
		</section>
	</main>
</body>

</html>