button {
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  font-family: 'Inter', sans-serif;
  min-height: calc(90vh - 40px);
}

textarea {
  resize: none;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  margin-top: 2em;
  height: 2em;
  font-size: 1.5em;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.visibility {
  visibility: hidden;
}

a {
  color: slategray;
}
