header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 125px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: white;
  color:black;
  font-family:'Inter', sans-serif;
}

#update-profile-button {
  padding: 3px;
  font-size: 2.5rem;
  margin-left: 0.25em;
}

header div {
  display: flex;
  align-items: center;
}

header div i {
  font-size: 40px;
  padding-left: 10px;
}

header button {
  border: none;
  box-shadow: none;
  background-color: white;
  margin-right: 1em;
  outline: none;
}

header button:hover {
  color:slategray
}

header #main-page-button {
  font-size: 3em;
}

header #logout-button {
  border: none;
  box-shadow: none;
  background-color: white;
  font-size: 2em;
}

header #login-button {
  font-size: 30px;
  padding: 10px;
}

header #register-button {
  font-size: 30px;
	padding: 10px;
	margin-right: 10px;
}
