button {
	cursor: pointer;
}

main {
	display: flex;
	flex-direction: column;
	width: 90%;
	margin: auto;
}

textarea {
  resize:none;
}

.show {
  display: block;
}

.hide {
	display: none;
}

.visibility {
	visibility: hidden;
}