.form div {
	display: flex;
	flex-direction: column;
	width: 60%;
	margin: auto;
	margin-top: 30px;
	border: 1px solid black;
	div.container {
		border: none;
		align-items: center;
		padding: 50px 0px 50px 0px;
		margin: none;
		margin-bottom: 30px;
		div {
			border: none;
			margin: 15px 0px 15px 0px;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			input {
				margin-left: 10px;
			}
		}
	}
	button {
		margin: 15px 0px;
		width: 25vw;
	}

}
