#new-task {
  border: none;
	padding: 5px;
	margin: 0.5em 0em 0.5em 0em;
	width: fit-content;
  outline: none;
	background-color: white;
  font-family: 'Lato', sans-serif;
  font-size: 3em;
  font-weight: bolder;
}

#new-task:hover {
	color: slategray;
}

#no-task-msg {
	font-size: 3em;
	margin: none;
}

section {
	height: min-content;
	border: 1.5px solid black;
	padding: 1.5em 1.5em 1em 1.5em;
	margin-bottom: 2em;
}

.category {
	margin-bottom: 20px;
}

section h2 {
	font-size: 2em;
	margin: 0px 0px 5px 0px;
}

.task {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

section p {
	margin: 0.5em 0em;
	font-size: 1.25em;
}

div .category-watch:first-child {
	border: none;
}


.taskContainer {
	padding-bottom: 0.75em;
  padding-left: 0.25em;
  padding-right: 1em;
}

#tasks-container .task-buttons button {
	border: none;
	background-color: white;
	outline: none;
}

#tasks-container .task-buttons button:hover {
	color: slategray;
}

#tasks-container i {
	height: 15px;
	width: 15px;
}

.completion[value=true]{
  color: slategray
}
